html,
body {
  overflow-x: hidden;
  background-color: color(white);
}

html { 
  font-size: 62.5%;
  box-sizing: border-box;
}

body { 
  @include type-style(a);
  color: color(black);
}

*, *:before, *:after { 
  box-sizing: inherit; 
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
