# Craft
# ---------------------------
/craft/plugins/*
/craft/rev-manifest.json
/craft/storage/*
!/craft/storage/.htaccess
/storage/*

# Craft Public
# ---------------------------
/web/*
!/web/.htaccess
!/web/index.php
!/web/*.txt
!/web/*.png
!/web/*.ico

# Package Managers
# ---------------------------
/vendor/
/node_modules/
/private/var/folders/qb/zd76s9nd3qj97gqsrrmc_8180000gn/T/1bd5da08d79a72148d72760166b46db75c6a1b8e/.gitignore