# System
# ---------------------------
.DS_Store
Thumbs.db

# Editors
# ---------------------------
*.esproj
*.sublime-project
*.sublime-workspace
*.tmproj
*.tmproject
.idea
.project
.settings
.vscode

# Temp
# ---------------------------
*.log
/tmp

# VM
# ---------------------------
.vagrant/*
