APP_IMAGE_DRIVER="imagick"
APP_DEFAULT_IMAGE_QUALITY=90
APP_PHP_MAX_MEMORY_LIMIT="256M"

APP_DB_SERVER="127.0.0.1"
APP_DB_DATABASE="<%= projectName %>"
APP_DB_USER="root"
APP_DB_PASSWORD=""
APP_DB_TABLE_PREFIX="craft"

APP_SITE_URL="http://<%= projectName %>.test"
APP_DEV_MODE="true"
APP_ENABLE_TEMPLATE_CACHING="false"

<% if (craftPlugins.indexOf('imager') > -1) { %>
IMAGER_SYSTEM_PATH="/path/to/<%= projectName %>/public/imager/"
# AWS_ENABLED="true"
# IMAGER_URL="https://s3.amazonaws.com/<%= projectName %>/imager/"
# AWS_ACCESS_KEY=""
# AWS_SECRET_ACCESS_KEY=""
# AWS_BUCKET="<%= projectName %>"
# AWS_FOLDER="imager"<% } %>
